* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: cadetblue;
}

main {
    padding: 20px;
    font-size: xx-large;

    color: yellow;

}

img {
    max-width: 50%;
  height: auto;
  border: 3px solid black;
  border-radius: 50%;
  border-width: 30px;

}
header>nav>a {
    padding: 30px;
    font-size: xx-large;
    color: aliceblue;
    margin: auto;
    display: auto;

}
a {
    text-decoration: none;

}
